<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Base Template</title>{% endblock %}
</head>
<body>
    <header>
        <div class="logo"><a href="{% url 'index-page' %}">Home</a></div>
        <div class="main-menu">
            <ul>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout-page' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'register-page' %}">Register</a></li>
                    <li><a href="{% url 'login-page' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer">
            <span>&copy; 2025 DWG</span>
            <span><a href="#">About</a></span>
            <span><a href="#">Contacts</a></span>
        </div>
    </footer>
</body>
</html>



